<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- fontawesome-->
    <script
      src="https://kit.fontawesome.com/2e8feb8b24.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div class="w-screen h-screen bg-gray-100 px-10 items-center">
      <nav class="flex justify-between pt-3">
        <a href="/" class="text-2xl">KhaataBook</a>
        <ul class="flex gap-3">
          <li class=""><a href="/">Home</a></li>
          <li class=""><a href="/create">Create New Hisab</a></li>
        </ul>
      </nav>
      <h1 class="text-xl mt-10">You're edting hisaab of <span class="text-blue-400"><%= date %></span> date</h1>
      <form class="flex flex-col gap-4 mt-4 items-start" action="/edit/<%= date %>/update" method="post">
        <textarea class="rounded-lg border-solid border-blue-500 border-2 w-96 h-60 p-2 bg-gray-200" name="updatedHisaab" placeholder="Write something.."><%= data %></textarea>
        <input class="bg-blue-500 text-white px-4 py-2 rounded-md" type="submit" value="Update Hisaab">
      </form>

    </div>
  </body>
</html>
