<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- fontawesome-->
    <script
      src="https://kit.fontawesome.com/2e8feb8b24.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div class="w-screen h-screen bg-gray-100 px-10 items-center">
      <nav class="flex justify-between pt-3">
        <a href="/" class="text-2xl">KhaataBook</a>
        <ul class="flex gap-3">
          <li class=""><a href="/">Home</a></li>
          <li class=""><a href="/create">Create New Hisab</a></li>
        </ul>
      </nav>
      <h1 class="text-xl mt-10">All Hisaab Kitab</h1>
      <div class="hissab mt-8">
        <% data.forEach(date => { %>
        <div
          class="flex justify-between mt-4 bg-blue-500 p-1 max-w-80 rounded-md font-semibold text-white px-4"
        >
          <a href="/<%= date.split('.', 1) %>">
            <span class="text-lg"><%= date.split(".", 1) %></span>
            <i
              class="fa-solid fa-arrow-right bg-white rounded-full p-0.5 px-1 ml-2"
              style="color: #3b82f6"
            ></i>
          </a>
          <div class="flex justify-between gap-2">
            <a class="text-lg" href="/edit/<%= date.split('.', 1) %>"
              ><i class="fa-solid fa-pen" style="color: #f2f2f2"></i
            ></a>
            <span class="cursor-pointer" onclick="confirmbox('<%= date.split('.', 1)[0] %>')"
              ><i
                class="fa-regular fa-trash-can bg-white p-1 px-1.5 rounded-full"
                style="color: #f22626"
              ></i
            ></span>
          </div>
        </div>
        <% }); %>
      </div>

      <div id="confirm"
        class="fixed bg-gray-800 bg-opacity-50 inset-0 flex items-center justify-center hidden"
      >
        <div class="p-6 text-white bg-white rounded-lg">
          <h1 class="text-xl text-black">
            Are you sure you want to delete this hisaab ?
          </h1>
          <div class="flex gap-2 mt-4">
            <button onclick="confirmedDelete()"
              class="text-lg px-4 py-2 bg-red-500 rounded-md hover:bg-red-400"
            >
              Delete
            </button>
            <button onclick="closebox()"
              class="text-lg px-4 py bg-gray-500 rounded-md hover:bg-gray-400"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const confirm = document.getElementById("confirm");
      let itemName = "";
      function confirmbox(item){
        itemName = item;
        confirm.classList.remove("hidden");
      }
      function closebox(){
        confirm.classList.add("hidden");
      }
      function confirmedDelete(){
        window.location.href = `/delete/${itemName}/confirmed`;
      }
    </script>
  </body>
</html>
